<div class="dashboardRow" ng-controller="DashboardCtrl">
    <div class="col-md-12">
        <h2>Dashboard</h2>
    </div>
    <div class="col-md-4">
        <h3>Assigned Projects</h3>

        <div ng-repeat="project in allProjects">
            <a href="#/project/{{project.Id}}">{{project.Name}}</a>
        </div>
        <div paging
             page="currentProjectsPage"
             page-size="10"
             total="50"
             paging-action="projectsPageChanged()">
        </div>
    </div>
    <div class="col-md-8">
        <h3>Assigned Issues</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Issue</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in userIssues">
                <td class="col-md-3">
                    <a href="#/issue/{{issue.Id}}">{{issue.Title}}</a>
                </td>
                <td class="col-md-5">{{issue.Description}}</td>
                <td class="col-md-2">
                    <a href="#/project/{{issue.Project.Id}}">{{issue.Project.Name}}</a>
                </td>
                <td class="col-md-2">{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <div paging
                 page="currentPage"
                 page-size="10"
                 total="100"
                 paging-action="getUserIssues()">
            </div>
        </div>
    </div>
</div>


